@import './variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, input, textarea,a, h1, p {
    font-family: 'Raleway', sans-serif;
}
 
ionpage{
    background-color: var(--background) !important;
}

body {
    font-size: 16px;
  
}

a{
    text-decoration: none;
}

:is(ion-content,ion-page,ion-header, ion-tab-bar ){
    --ion-text-color: white;
    --ion-background-color:#111D12;

}
/* 
.menu-principal {
    --box-shadow: none;
} */

.menu-principal svg {
    color: var(--ion-color-secondary);
}

.menu-principal.ativo{
    --background: var(--ion-color-secondary);
}

.menu-principal.ativo svg {
    color: var(--ion-color-primary)
}